<nav class="navbar" style="background-color:#c1e1f8;">
    <div class="container-fluid">
        <a class="navbar-brand">
            ToDoList
        </a>
        <div class="d-flex">
            <div class="p-2">Hello, {{userData.data?.username}}</div>
            <div class="btn-group">
                <button
                    type="button"
                    class="btn btn-outline-danger rounded-circle"
                    id="dropdownLogout"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <i class="bi bi-person-circle"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLogout">
                    <a 
                        class="dropdown-item d-flex align-items-center justify-content-center"
                        href="/dashboard"
                    ><i class="bi bi-person text-primary"></i> <span class="ms-2">My profile</span></a>
                    <hr class="dropdown divider">
                    <a 
                        class="dropdown-item d-flex align-items-center justify-content-center"
                        style="cursor: pointer;"
                        (click)="oppenModal()"
                    ><i class="bi bi-box-arrow-right text-danger"></i><span class="ms-2">Log Out</span></a>
                </div>
            </div>
        </div>
    </div>
</nav>

<app-logout-confirmation
    [userData]="userData"
    (executeLogout)="closeModal($event)"
></app-logout-confirmation>