<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title h5">Confirm deletion</span>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Are you sure want to delete this task ?</strong>
                </p>
                <p>
                    <span class="text-danger">
                        This opertaion can not be undonde.
                    </span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary">Cancel</button>
                <button type="button" class="btn btn-danger">OK</button>
            </div>
        </div>
    </div>
</div>
